# template file from https://github.com/github/gitignore

Ragusa2017a/figs/*.pdf
Ragusa2017a/figs/Fig5.*
Ragusa2017a/figs/Fig6.*
Ragusa2017a/figs/Fig24_old.svg
Ragusa2017a/graphs/*.pdf
Ragusa2017a/graphs/Fig12_old.svg
Ragusa2017a/photo

*.png
*.eps
*.xlsx
*.ods
*.doc

## R documents
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/
  
# RStudio files
.Rproj.user/
*.Rproj
  
# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/
  
# Temporary files created by R markdown
*.utf8.md
*.knit.md

## TeX documents
# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.out
*.toc
*.tex.backup

# Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.blg
