Ragusa2017a/figs/*.pdf
Ragusa2017a/figs/Fig5.*
Ragusa2017a/figs/Fig6.*
Ragusa2017a/figs/Fig24_old.svg
Ragusa2017a/graphs/*.pdf
Ragusa2017a/graphs/Fig12_old.svg
Ragusa2017a/photo

*.png
*.eps
*.xlsx
*.ods
*.doc
