.Rproj
.RData
.RHistory
.Rproj.user

#data
rate.ods
totalvoironflysch0213.csv
totalvoironflysch0213.pln

#doc
archive
review
CoverLetter.doc

#figs
archive
photo
QGIS
.qgs
.qgz

#graphs
Fig7_old.pdf

